:root {
  --font: "Roboto", sans-serif;
  --color-accent: #a18a68;
  --color-black: #191919;
  --color-black-hover: #292929;
  --color-black-light: rgba(0, 0, 0, 0.8);
  --color-grey: #757575;
  --color-grey-alpha: #808080;
  --color-grey-dark: #707070;
  --color-grey-light: #e6e6e6;
  --color-white: #ffffff;
  --main--marglin-left: 216px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#__nuxt {
  margin-top: 38px;
}

.icon {
  width: 24px;
  height: 24px;

  &-dislike {
    transform: scaleX(-1) rotate(180deg);
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }

  &-default {
    cursor: default;
  }
}
